<div class="header">
  <ul class="nav nav-tabs justify-content-center">
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/jobs">Home</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled">Disabled</a>
    </li>
  </ul>

  <div class="body">
    <router-outlet></router-outlet>
  </div>
</div>
